*{
    margin:0;
    padding:0;
    font-family:Arial;
    scroll-behavior:smooth;
}

/* HEADER */
header{
    display:flex;
    justify-content:space-between;
    padding:20px;
    background:#111;
    color:white;
}

nav a{
    color:white;
    margin:0 10px;
    text-decoration:none;
}

/* HERO */
.hero{
    height:90vh;
    display:flex;
    align-items:center;
    justify-content:space-around;
    background:linear-gradient(120deg,#1e3c72,#2a5298);
    color:white;
}

.profile-img{
    width:250px;
    border-radius:50%;
    animation:float 3s infinite;
}

@keyframes float{
    0%{transform:translateY(0)}
    50%{transform:translateY(-20px)}
    100%{transform:translateY(0)}
}

/* BUTTON */
.btn{
    display:inline-block;
    padding:10px 20px;
    background:white;
    color:black;
    border-radius:5px;
    margin-top:10px;
}

/* SECTIONS */
section{
    padding:60px;
    text-align:center;
}

/* GALLERY GRID */
.grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    max-width:600px;
    margin:auto;
}

.grid img{
    width:100%;
    border-radius:10px;
}

/* CARDS */
.card{
    background:white;
    padding:20px;
    margin:10px auto;
    width:250px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}